$color--highlight = #FFB336
$color--alt = invert($color--highlight)

$color--body-text = #5f6b86
$color--title-text = #232f50

$color--hero-bg = #19202b
$color--hero-bg--dark = #080f25
$color--hero-bg--border = rgba(white, .05)
$color--hero-text = #edf4ff
$color--hero-subtitle = darken($color--hero-text, 10%)
$color--hero-text--light = #879bbb
$color--hero-title = #ffffff

$color--work-bg = #ffffff
$color--work-title-underline--dark = rgba(0, 126, 255, 0.07)
$color--work-title-underline--light = rgba(0, 103, 255, 0.05)
$color--subtitle-text = #8294ab
$color--mark = $color--hero-text